:root {
  --main-dark-color: rgb(40, 48, 50);
  --secundary-dark-color: rgb(63, 63, 63);
  --main-blue-color: rgb(98, 218, 250);
  --secundary-blue-color: rgb(81, 132, 153);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secundary-dark-color);
}

@media screen and (max-width: 714px) {

  .App-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 30px 3rem 0;
  }

  .toDo {
    background-color: var(--main-dark-color);
    border: none;
    border-radius: 25px;
    color: white;
    height: 30px;
    text-align: center;
    width: 90%;
  }

  .insert {
    align-items: center;
    background-color: var(--main-dark-color);
    border: none;
    border-radius: 25px;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 40%;
  }

  .icon {
    filter: invert(100%);
  }

  .taskContainer {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .tasks {
    border: 3px solid var(--main-dark-color);
    border-radius: 15px;
    color: white;
    margin: 20px 0;
    text-align: center;
    width: 90%;
  }

  .todo {
    display: flex;
    justify-content: space-between;
    padding: 5px 7px;
    align-items: center;
  }

  .setings {
    width: 50%;
  }

  .setingsContainer {
    display: flex;
    gap: 5px;
  }

  .task {
    width: 60%;
  }

  .button {
    background-color: var(--main-dark-color);
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 23px;
  }

  .editable {
    box-shadow: var(--main-blue-color) 0 6px 6px -6px;
    width: 45%;
  }

}

@media screen and (min-width: 715px) and (max-width: 1279px){

}

@media screen and (min-width: 1280px){

}